* {
  margin: 0px;
  border-radius: 0px;
  box-sizing: border-box;
  font-size: 110%;
  font-family: sans-serif, Courier, monospace;
}


#root {
  text-align: center;
}

.titre-calculatrice{
  font-size:30px;
  background: #fff;
  width: 400px;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 2px solid black;
  color: #408cb7;
}

.mainCalc{
  margin:0px;
  padding:0px;
  border-radius: 0px;
  box-sizing: border-box;
}

.screen-rendu input{
  width: 400px;
  background: rgb(250, 164, 164);
  border: 0px;
  color: #222;
  padding: 10px;
  text-align: right;
}


input[type="button"]{
  width: 100px;
  background: #408cb7;
  border: 2px solid rgb(161, 145, 145);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  
input[type="button"]:active{
    background: #ccc;
}